* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

.login h1 {
    font-family: "Concert One";
    color: black;
    font-size: xx-large;
}

.login a {
    text-decoration: none;
}

.login {
    border: 1px solid red;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh auto;
    list-style: none;
}